adf_formula1/pipeline/Ingestion Data Formula-1.json
{
	"name": "databricks-formula-1",
	"properties": {
		"activities": [
			{
				"name": "Get Folders details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "databricks_formula1_raw",
						"type": "DatasetReference",
						"parameters": {
							"param_window_end_date": {
								"value": "@pipeline().parameters.param_window_end_date",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If folder exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Folders details",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get Folders details').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Ingestion_circuits",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/tefinhovivas@hotmail.com/azure-databricks-project/Ingest/1.Ingest_circuit_files",
								"baseParameters": {
									"param_data_source": {
										"value": "@variables('var_data_source')",
										"type": "Expression"
									},
									"param_file_date": {
										"value": "@formatDateTime(pipeline().parameters.param_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Azure_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion_races",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/tefinhovivas@hotmail.com/azure-databricks-project/Ingest/2.Ingest_race_files",
								"baseParameters": {
									"param_data_source": {
										"value": "@variables('var_data_source')",
										"type": "Expression"
									},
									"param_file_date": {
										"value": "@formatDateTime(pipeline().parameters.param_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Azure_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion_drivers",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/tefinhovivas@hotmail.com/azure-databricks-project/Ingest/4. Ingest_drivers",
								"baseParameters": {
									"param_data_source": {
										"value": "@variables('var_data_source')",
										"type": "Expression"
									},
									"param_file_date": {
										"value": "@formatDateTime(pipeline().parameters.param_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Azure_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion_constructors",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/tefinhovivas@hotmail.com/azure-databricks-project/Ingest/3. Ingest_constructors",
								"baseParameters": {
									"param_data_source": {
										"value": "@variables('var_data_source')",
										"type": "Expression"
									},
									"param_file_date": {
										"value": "@formatDateTime(pipeline().parameters.param_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Azure_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion_results",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/tefinhovivas@hotmail.com/azure-databricks-project/Ingest/5. Ingest_results",
								"baseParameters": {
									"param_data_source": {
										"value": "@variables('var_data_source')",
										"type": "Expression"
									},
									"param_file_date": {
										"value": "@formatDateTime(pipeline().parameters.param_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Azure_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion_pit_stops",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/tefinhovivas@hotmail.com/azure-databricks-project/Ingest/6. Ingest_pit_stops",
								"baseParameters": {
									"param_data_source": {
										"value": "@variables('var_data_source')",
										"type": "Expression"
									},
									"param_file_date": {
										"value": "@formatDateTime(pipeline().parameters.param_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Azure_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion_lap_times",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/tefinhovivas@hotmail.com/azure-databricks-project/Ingest/7. Ingest_lap_times",
								"baseParameters": {
									"param_data_source": {
										"value": "@variables('var_data_source')",
										"type": "Expression"
									},
									"param_file_date": {
										"value": "@formatDateTime(pipeline().parameters.param_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Azure_Databricks",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Ingestion_qualifying",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Repos/tefinhovivas@hotmail.com/azure-databricks-project/Ingest/8. Ingest_qualifying",
								"baseParameters": {
									"param_data_source": {
										"value": "@variables('var_data_source')",
										"type": "Expression"
									},
									"param_file_date": {
										"value": "@formatDateTime(pipeline().parameters.param_window_end_date,'yyyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Azure_Databricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"param_window_end_date": {
				"type": "string"
			}
		},
		"variables": {
			"var_data_source": {
				"type": "String",
				"defaultValue": "Ergast"
			}
		},
		"annotations": []
	}
}